<!DOCTYPE html>
<html>

<head>
    <title> เพื่อนรู้ใจ </title>
    <style>
        html {
            position: relative;
            width: 736px;
            height: 414px;
            background: #FFBD59;
        }

        .i1 {
            position: absolute;
            width: 736px;
            height: 414px;
            left: 0px;
            top: 0px;
        }


        .button1 {
            position: absolute;
            top: 160px;
            left: 0;
            display: none;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('name') }}">
        <img src="{{url_for('static', filename='video3.gif')}}" class="i1">
    </a>
    <form action="name" method="get">
        <button type="submit" class="button1" id="result">ดูผล</button>
    </form>
    <script>
        var button = document.getElementById("result");
        setInterval(function () {
            button.click();
        }, 9000);
    </script>
</body>

</html>